<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DODGE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8211461D1EE6AF55001FC2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821146371EE6AF55001FC2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821146421EE6AF55001FC2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
